@import 'config';
@import 'utilites';
@import 'button';


*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
  background-color:$light-color ;
  font-family: $font-stack;
  line-height: 1.6;
}
img{
  width:  100%;
}
a{
  text-decoration: none;
  display: inline-block;

}
.showcase{
  // background-color: $primary-color;
  // color: set-text-color($primary-color);
  @include set-background($primary-color);
  height: 600px;
  nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
 
  ul{
    display: flex;
    list-style-type: none;
  }
  li{
    padding: 15px;
    display: inline-block;
    // color:#FFF;
    // &:hover{
    //   color: red;

    // }
  }
  a{
    color:#000;
    &:hover{
      color: red;

    }

  }
  
  
}
  
  &-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  img{
    width: 50%;
  }
  h1{
    font-size: 30px;
    line-height: 1.2;
    text-align: initial;
  }
  p{
    padding: 12px;
    margin: auto;
    text-align: start;
  }
}